.holder {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.item {
  width: 100px;
  height: 100px;
  font-size: 30px;
  color: black;
}

/* colors */
.item1 {
  background-color: red;
}

.item2 {
  background-color: blue;
}

.item3,
.item4,
.item5,
.item6,
.item7 {
  background-color: green;
}

/* special sizing */
.item3 {
  height: 200px;
}

.item7 {
  height: 200px;
}
